<form id="accountform" class="container">
  <h1 style="text-align: center;">Create Account</h1>
  <div class="form-group">

    <label>UserName</label>
  <input [(ngModel)] ='username' type="text" name="username" class="form-control">
  <label>Email</label>
  <input [(ngModel)] ="email" type="text" name="email" class="form-control">
  <label>Password</label>
  <input [(ngModel)] ="password" type="text" name="password" class="form-control">
  <input  type="submit" value="createAccount" (click)='createAccount()'>
</div>
</form>
