.myrow{
  height: 700px;
}
.containerflex{
  display: flex;
  align-content: flex-end;
  flex-wrap:  wrap ;
  justify-content: space-evenly;
}
.item {
margin-left:25px ;
margin-right: 25px;
margin-top: 20px;
background-color: whitesmoke;
padding: 1%;
margin-bottom: 20px;
}
